/*
	==================================================
	**********        CUSTOM STYLES         **********
	==================================================
*/

/* Common styles */
body {
	font-family: "Montserrat", sans-serif;
}

img {
	-webkit-filter: none;
	filter: none;
}

button:focus {
	outline: 0;
}

.l-theme {
	overflow: hidden;
}

.sp-image-container:after {
	opacity: 1;
}

.custom-link {
	color: #333;
}
.custom-link:hover,
.custom-link:active {
	color: #9d2222;
}

.custom-descr {
	max-width: 470px;
	color: #000;
	font-size: 11px;
	line-height: 1.4;
	letter-spacing: 0.025em;
	text-transform: uppercase;
}

.has-bg {
	position: relative;
	z-index: 1;
	background: #ffffff url("../img/main-bg.jpg") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.has-bg::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	display: block;
	background: rgba(255, 255, 255, 0.75);
}

/* Header */
.header.header-color-white .navbar .navbar-nav > li > a:hover {
	font-weight: 400;
	text-decoration: underline;
	background-color: transparent;
}
.header.header-color-white .navbar .navbar-nav > li.active > a:hover {
	font-weight: 900;
	text-decoration: none;
}
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > a:focus {
	font-weight: 400;
	border: none;
	background-color: transparent;
	outline: 0;
}
.navbar .navbar-nav > li.active > a,
.navbar .navbar-nav > li:hover > a {
	border: none;
}
.navbar .navbar-nav > li.active > a {
	font-weight: bold;
}
.navbar-right {
	display: none;
}
body:not(.header-demo) .navbar-scrolling .navbar-right {
	display: block;
	padding: 0;
}
@media (min-width: 768px) {
	/*body:not(.header-demo) .navbar-right {*/
	/*padding-top: 0;*/
	/*padding-bottom: 0;*/
	/*}*/
	.navbar-right {
		padding-top: 15px;
		padding-bottom: 15px;
		margin-right: 50px;
	}
}

/* Sections */
.section-first {
	padding-bottom: 0;
}
.main-slider__info {
	font-family: "Montserrat", sans-serif;
}

.main-slider__subtitle {
	text-align: right;
}

.ui-slogan--custom {
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 0;
}

.b-advantages-group-1 {
	padding-top: 147px;
}

.b-advantages__image {
	max-width: 13%;
}

.ui-decor-line--custom {
	margin-bottom: 0;
}
.ui-decor-line--custom::before {
	position: relative;
	top: 22px;
	right: -15px;
}

.b-btn__inner--custom {
	background-color: transparent;
}

.section-about .ui-slogan {
	margin-bottom: 60px;
}

.section-about .tilter__figure::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	background: rgba(51, 51, 51, 0.4);
}
.tilter__figure::before,
.tilter--1 .tilter__figure::before {
	display: none;
}

.section-doctors {
	padding-bottom: 150px;
}
/*.section-doctors::before {*/
	/*content: '';*/
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	/*display: block;*/
/*}*/
.section-doctors .b-works__nav > li {
	font-family: "Montserrat", sans-serif;
}

.advantages-section {
	padding-bottom: 210px;
}
.b-advantages-2:first-child {
	margin-top: 115px;
}
.b-advantages__img {
	height: 115px;
}
.b-advantages-2 .b-advantages__title {
	margin-top: 45px;
	color: #333;
	font-size: 13px;
	/*letter-spacing: 0.2em;*/
}
.b-advantages__info {}

.b-post .entry-title {
	font-weight: 400;
}
/*.b-post .entry-meta {*/
	/*width: auto;*/
/*}*/

.entry-media img {
	margin-left: auto;
}

/* Inner pages */
.section-title-page {
	background-image: url("../img/hero-bg.jpg");
	background-position: center;
}
.block-paragraphs-1--custom {
	margin-top: 150px;
}
.block-paragraphs-1__img {
	margin-top: 0;
}
.b-blockquote_w-signature blockquote {
	margin-top: 20px;
}
.custom-title {
	margin-bottom: 60px;
}
.section-experts {
	margin-top: 100px;
}
.section-experts--inner {
	margin-top: 0;
}
.section-experts--inner::after {
	z-index: 0;
}
.section-experts .b-isotope-filter {
	position: relative;
	z-index: 1;
}

.b-title-page__wrap--custom {
	width: 700px;
}
.b-title-page__wrap--custom2 {
	width: 735px;
}

.b-works-details__description-info--custom,
.b-works-details__description-name--custom {
	color: #000;
	font-size: 11px;
}

.b-works-details__description-info--custom {
	text-align: right;
}
.b-works-details .b-works-details__description-name--custom {
	width: auto;
	max-width: 200px;
}
.ui-title-inner--custom-left {
	float: left;
}
.ui-title-inner--custom-right {
	float: right;
}

.isotope-discount {
	position: absolute;
	top: 13px;
	left: 0;
	z-index: 101;
	display: block;
	padding: 12px 18px;
	color: #fff;
	font-size: 24px;
	line-height: 1;
	background: #333;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.b-isotope-grid__inner:hover .isotope-discount {
	background: #9d2222;
}

/* Contacts section */

.social-net__link {
	width: auto;
	padding: 0;
	font-size: 24px;
	letter-spacing: normal;
	border: none;
	background-color: transparent;
}
.social-net__link:hover {
	background-color: transparent;
	color: #9d2222;
}
.b-contacts__info {
	margin-bottom: 0;
}
